.header-part {
    width: 100%;
    /* height: 80px; */
    left: 251px;
    top: 251px;
    font-size: 0;
    background-color: #010a10;
    box-shadow: 0 0 100px RGBa(0, 0, 0, 0.5);
    border-radius: 3px;
    
  
}


.tab-button:hover {
    background-color: rgba(16, 93, 202, 0.626); /* Specify the color you want on hover */

}
.tab-button {
    align-items: center;
    background-color: transparent;
    border: none;
    color: white;
    height: 80px;
    padding: 20px 40px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    
}
body {
    
    height: 100%;
    bottom: 0;
    
}


/* .container {
    top: 0;
    bottom: 0;
    left: 251px;
    text-align: left; 
} */

/* .container-heading h2 {
    color: #4e434137;
    text-align: center;
    font-size: 70px;
} */

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
}

.row {
    
    background-color: aliceblue;
    height: 300px;
    padding-top: 10px;
    width: 350px;
    color: #090000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 26px;
    cursor: pointer;
    margin: 10px;
}



.btn {
    background-color: #2733dfcf;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    size: 100px;
    
    
}
.btn:hover{
    background-color: rgba(16, 93, 202, 0.626);
}